<!DOCTYPE html>
<html>
  <head>
    <title>Lego</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h1><%= link_to 'Fan Art', fan_arts_path %></h1>
    </div>
    <%= yield %>
  </body>
</html>
